@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #676fc5;
  --color-text: #787ea2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eff3f9;
}

* {
  margin: 0;
  outline: 0;
}
